
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html,
body {
  font-family: "Nunito Sans", sans-serif;
  line-height: 2rem;
}


.wrapper {
  width: 80vw;
  margin: 4rem auto;
  overflow-x: hidden;
}

.wrapper > div {
  margin-bottom: 3rem;
}


.stories-container .item-left {
  display: block;
  color: #fff;
  padding: 50px;
  transition: transform 0.2s;
}

.stories-container .item-left {
  padding-left: 0;
}

.stories-container .item-left:hover {
  transform: scale(1.05);
}

.stories-container .date {
  display: block;
  position: absolute;
  margin-top: -3rem;
  margin-left: 1rem;
}

.stories-container .number {
  display: block;
  position: absolute;
  margin-top: -20rem;
  margin-left: 15rem;
}

.stories-container .item-3 .number {
  margin-top: -20rem;
  margin-left: 1rem;
}

.item-3 .item.item-left .date {
  margin-top: -3rem;
  margin-left: 5rem;
}

.item.item-left:hover {
  opacity: 0.95;
  cursor: pointer;
}



small {
  color: gray;
}

h1.title {
  font-size: 1.2rem;
}

p {
  font-size: 1.2rem;
}

.first-four {
  display: inline-block;
  background-color: rgba(211, 211, 211, 0.938);
  padding: 0 0 0 0.1rem;
}


.text-secondary {
  color: #ff1818;
}

.text-primary {
  color: #000;
}


a {
  text-decoration: none;
}

a:link {
  color: rgba(156, 148, 148, 0.938);
}
a:hover {
  color: black;
}
a:visited {
  color: lightgreen;
}


li {
  list-style: none;
}


.btn-primary button,
.btn-secondary button {
  background-color: #ec4067;
  padding: 0.5rem 1.5rem;
  color: #fff;
  font-size: 1.1rem;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  box-shadow: rgba(165, 35, 35, 0.25) 0px 14px 28px,
    rgba(150, 31, 31, 0.22) 0px 10px 10px;
}

.btn-primary button:hover {
  background-color: #ac3a3a;
}

.btn-secondary button {
  background-color: #fff;
  border: 1px solid #ec4067;
  color: black;
}

.btn-secondary button:hover {
  background-color: #ec4067;
  border: 1px solid #fff;
  color: white;
}


nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1.5rem;

  width: 80vw;
  margin: 0 auto;
}

ul.nav.nav-tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-content: center;
  align-content: center;
}

ul.nav.nav-tabs li {
  margin: 0 0.5rem;
}

ul.nav.nav-tabs li:last-child {
  margin: 0;
}


.title.text-secondary {
  font-weight: 200;
  font-size: 2rem;
  width: 90%;
}

.main-item .item.item-right {
  max-width: 30rem;
  margin: 0 auto;
}

.main-item img {
  width: 100%;
}

.main-item {
  display: grid;
  grid-template-areas:
    "img img"
    "content content";
}

.main-item > .item-left {
  grid-area: content;
}

.story-content > div {
  margin-bottom: 2.5rem;
}

.main-item > .item-right {
  grid-area: img;
}

.main-button-container > div {
  display: inline-block;
}

.main-button-container > div:first-child {
  margin-right: 1rem;
}

.main-item .content p {
  width: 80vw;
}



.stories-container .story-content,
.stories-container .story-content p,
.stories-container .story-content h1,
.stories-container .story-content div {
  margin-top: 2.5rem;
}

.project-container .project-item,
.project-container .project-item p,
.project-container .project-item h1,
.project-container .project-item div {
  margin-top: 2rem;
}

.stories-container .item-left img {
  max-width: 30rem;
}

.stories-container .item-right p {
  max-width: 30rem;
}

.stories-container > .item-container {
  display: grid;
  grid-template-areas:
    "media media"
    "story story";
}

.item-container {
  margin-bottom: 5rem;
}

.item-2 > .item-left {
  grid: media;
}

.item-2 > .item-right {
  grid: story;
}

.item-3 > .item-left {
  grid: story;
}

.item-3 > .item-right {
  grid: media;
}

.heading {
  display: inline-flex;
  align-items: baseline;
  margin-right: 0.5rem;
  width: 100%;
}

.heading h1 {
  margin-right: 0.5rem;
}

.project.project-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 3rem;
}

.project-item.project-right {
  max-width: 30rem;
  margin: 0 auto;
}

.project-item.project-right img {
  max-width: 100%;
}

.project.project-container .description {
  max-width: 30rem;
}


.mentor-container div {
  margin-bottom: 1rem;
  padding: 0.1rem;
}

.mentor-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;

  margin: 0 auto;
  font-size: 1.5rem;
}

.mentor-content .name,
.mentor-content .title {
  font-size: 1.2rem;
}

.mentor-container p {
  max-width: 30rem;
}

.mentor-img img {
  opacity: 0.95;
  max-width: 100%;
  transition: opacity 0.2s;
}

.mentor-img img:hover {
  opacity: 0.8;
  max-width: 100%;
  cursor: pointer;
}

.mentor-content .name {
  position: absolute;
  margin-top: -5rem;
  margin-left: 1rem;
  color: #fff;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s, visibility 0.2s;
}

.mentor-img:hover ~ .mentor-content .name {
  visibility: visible;
  opacity: 1;
}


.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  background-color: rgba(211, 211, 211, 0.938);
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  font-size: 1.2rem;
}


@media (min-width: 960px) {
  .wrapper {
    width: 75vw;
    margin: 5rem auto;
    overflow-x: hidden;
  }

  .mentor-container {
    grid-template-columns: repeat(4, 1fr);
    width: auto;
  }

  .main-item {
    display: grid;
    grid-template-areas: "content content img";
  }

  .main-item img {
    width: 70rem;
  }

  .item-container {
    display: flex;
    width: 100%;
  }

  .item-container:nth-child(odd) {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .stories-container .item-right p {
    max-width: 100%;
  }

  .stories-container .item-container div.item-left {
    display: inline-block;
    /* width: 100%; */
  }

  .mentor-img img {
    opacity: 0.8;

    width: 20rem;
  }

  .project-item.project-right img {
    max-width: 30rem;
  }

  .project.project-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .m-lg-left {
    margin-left: 1.5rem;
  }

  .main-item .content p {
    width: 100%;
  }

  .mentor-content .name {
    position: absolute;
    margin-top: -5rem;
    margin-left: 1rem;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, visibility 0.2s;
  }

  .mentor-img:hover ~ .mentor-content .name {
    visibility: visible;
    opacity: 1;
  }

  .stories-container .date {
    display: block;
    position: absolute;
    margin-top: -3rem;
    margin-left: 1rem;
  }

  .stories-container .number {
    display: block;
    position: absolute;
    margin-top: -20rem;
    margin-left: 28rem;
  }

  .stories-container .item-3 .number {
    margin-top: -20rem;
    margin-left: 1rem;
  }

  .item-3 .item.item-left .date {
    margin-top: -3rem;
    margin-left: 17rem;
  }

 

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    background-color: rgba(211, 211, 211, 0.938);
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 968px) {
  .d-sm-none {
    display: none;
  }

  ul.nav.nav-tabs {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  .project-item.project-right img {
    max-width: 100%;
  }
}

@media screen and (min-width: 1300px) {
  p {
    font-size: 1.4rem;
    line-height: 2.3rem;
  }
  .project-item.project-right img {
    max-width: 35rem;
  }

  .wrapper {
    width: 65vw;
    margin: 5rem auto;
    overflow-x: hidden;
  }

  .btn-primary button,
  .btn-secondary button {
    
    padding: 0.9rem 1.8rem;
    
  }
}